<% if (!entry.hidden || isAdmin) { %>
<span
  class="ip <%= entry.ip === ip ? 'my' : '' %> <%= entry.hidden ? 'transparent' : '' %>"
  id="entry-<%= entry.ip.replace(/\./g, "") %>"
>
  <div class="info-container">
    <div><%- include('flag', {countryCode: entry.countryCode}) -%></div>
    <div class="info">
      <%= entry.ip %><%= entry.ip === ip ? ' (you)' : '' %>
    </div>
    <div class="info">
      <%= entry.createdAt.toISOString().slice(0, 19).replace("T", " ") %>
    </div>
  </div>

  <div class="message" title="<%= entry.reason %>"><%= entry.message %></div>

  <% if (isAdmin) { %>
  <div class="delete-container">
    <button class="delete-button" onclick="toggleEntry('<%= entry.ip %>')">
      Toggle
    </button>
  </div>
  <% } %>
</span>
<% } %>
